__pycache__
**/.datasets
**/epoch_saved
# ignore common directory with external data
/data
# schema.json must be generated using
# `python -m olimp.precompensation.nn.train.train --update-schema`
schema.json
# torch memory profile
*.pickle
# created by `python -m venv .venv`
/.venv
# sphinx output
/docs/build
# get_images.py output
/docs/source/_static/*.svg
# build artifacts
build/
dist/
*.egg-info
**/sandbox
**/human_studies
.coverage
